---
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"
import { ArrowLeft } from "lucide"
import Root from "@/layouts/Root.astro"
import Layout from "@/layouts/Layout.astro"
import Prose from "@/components/Prose.astro"
import SEO from "@/components/seo/SEO.astro"
import LucideIcon from "@/components/LucideIcon.astro"

export const getStaticPaths = (async () => {
  const articles = await getCollection("articles")
  return articles.map((a) => ({
    params: { article: a.slug },
    props: a,
  }))
}) satisfies GetStaticPaths
type Props = CollectionEntry<"articles">
const { render, data } = Astro.props
const { Content } = await render()
---

<Root>
  <SEO slot="meta" title={data.title} description={data.description} />
  <link
    slot="meta"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    rel="stylesheet"
  />
  <Layout class="pt-32 mb-[90svh]">
    <div class="mb-6">
      <a
        href="/"
        class="inline-flex items-center gap-x-2 text-muted-foreground hover:text-accent-foreground transition-colors py-2 px-1"
      >
        <LucideIcon icon={ArrowLeft} class="size-5" />
        <span>Volver</span>
      </a>
    </div>
    <Prose>
      <h1>{data.title}</h1>
      <Content />
    </Prose>
  </Layout>
</Root>
