---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import Root from '@/layouts/Root.astro'
import { SITE } from '@/consts'
import Articles from '@/components/Articles.astro'
import SEO from '@/components/seo/SEO.astro'
import HomeSEO from '@/components/seo/HomeSEO.astro'
---

<Root>
  <SEO
    slot="meta"
    title="Imangelo Blog"
    description="Soy un desarrollador y diseñador web que a veces escribe para sí mismo."
    image={SITE.IMAGE}
  />
  <HomeSEO slot="meta" />
  <Layout class="pt-24 md:pt-40 mb-32 md:mb-40 max-w-screen-sm">
    <header>
      <section
        class="flex flex-col sm:flex-row sm:items-center justify-between flex-wrap gap-y-6"
      >
        <div class="flex-1 flex justify-between">
          <h1 class="flex flex-col justify-center text-foreground/70">
            <span class="font-semibold text-foreground">Soy Michelangelo,</span>
            <span>desarrollador y diseñador web.</span>
          </h1>
          <Image
            class="rounded-full aspect-square max-w-20"
            src="/pato.webp"
            width={200}
            height={200}
            alt="Mi imagen de perfil de github."
            loading="eager"
          />
        </div>
      </section>
    </header>
    <Articles />
  </Layout>
</Root>
