---
import { SITE } from "@/consts"
import Layout from "@/layouts/Layout.astro"
import Root from "@/layouts/Root.astro"
import Articles from "@/components/Articles.astro"
import SEO from "@/components/seo/SEO.astro"
import HomeSEO from "@/components/seo/HomeSEO.astro"
---

<Root>
  <SEO
    slot="meta"
    title="michelangelo | blog"
    description="Un blog sobre software, ciencia y demás..."
    image={SITE.IMAGE}
  />
  <HomeSEO slot="meta" />
  <Layout class="pt-24 md:pt-32 mb-20">
    <header>
      <section
        class="flex flex-col sm:flex-row sm:items-center justify-between flex-wrap gap-y-6"
      >
        <div class="flex-1">
          <h1 class="grid gap-y-1 md:text-wrap text-foreground/80">
            <span class="text-3xl">
              <span>Soy</span>
              <strong class="text-foreground">Michelangelo</strong>,
              <span>y este es mi blog.</span>
            </span>
            <span class="text-lg leading-tight">
              Aquí escribo sobre
              <strike>software</strike>
              <strike>ciencia</strike>
              <span class="text-primary">cualquier cosa</span>.
            </span>
          </h1>
        </div>
      </section>
    </header>
    <Articles />
  </Layout>
</Root>
