---
import Root from "@/layouts/Root.astro"
import Layout from "@/layouts/Layout.astro"
import SEO from "@/components/seo/SEO.astro"
---

<Root>
  <SEO
    slot="meta"
    title="michelangelo"
    description="michelangelo, desarrollador web full stack."
  />
  <Layout>
    <h1>Hi</h1>
  </Layout>
</Root>
