---
import { SITE } from "@/consts"
import Layout from "@/layouts/Layout.astro"
import Root from "@/layouts/Root.astro"
import Articles from "@/components/Articles.astro"
import SEO from "@/components/seo/SEO.astro"
import HomeSEO from "@/components/seo/HomeSEO.astro"
---

<Root>
  <SEO
    slot="meta"
    title={SITE.TITLE}
    description="michelangelo, desarrollador web full stack."
    image={{
      src: SITE.BANNER,
      alt: SITE.BANNER_ALT,
      width: SITE.IMAGE_WIDTH,
      height: SITE.IMAGE_HEIGHT,
    }}
  />
  <HomeSEO slot="meta" />
  <Layout class="pt-24 md:pt-32 mb-20">
    <header>
      <section
        class="flex flex-col sm:flex-row sm:items-center justify-between flex-wrap gap-y-6"
      >
        <div class="flex-1">
          <h1 class="flex flex-col md:gap-y-1">
            <span class="text-3xl md:text-4xl font-bold text-foreground/80">
              soy <span class="font-black text-foreground">michelangelo</span>,
            </span>
            <span class="text-muted-foreground text-lg md:text-xl"
              >desarrollador web full-stack.</span
            >
          </h1>
        </div>
      </section>
    </header>
    <Articles />
  </Layout>
</Root>
