---
interface Props {
  year: string
}
---

<article class="flex flex-col border-t">
  <article class="flex">
    <div class="text-muted-foreground px-2 md:px-3 pt-3.5 w-16">
      <time class="ml-auto" datetime={Astro.props.year}>{Astro.props.year}</time
      >
    </div>
    <div class="flex-1">
      <slot />
    </div>
  </article>
</article>
