---
import { getCollection, type CollectionEntry } from "astro:content"
import ArticleLink from "./ArticleLink.astro"
import ArticleYearGroup from "./ArticleYearGroup.astro"
import Section from "./Section.astro"
import { groupBy } from "@/utils"

const articles = (await getCollection("articles"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .map((a) => ({
    ...a,
    year: a.data.date.getFullYear(),
  }))

const articlesByYear: {
  [year: string]: CollectionEntry<"articles">[]
} = groupBy(articles, "year")

const years = Object.keys(articlesByYear).sort(
  (a, b) => parseInt(b) - parseInt(a)
)
---

<Section class="mt-20" title="Artículos">
  {
    years.map((year) => (
      <ArticleYearGroup {year}>
        {articlesByYear[year].map(({ data: { title, date }, slug }) => (
          <ArticleLink {title} {date} {slug} />
        ))}
      </ArticleYearGroup>
    ))
  }
</Section>
