---
import FooterLink from './FooterLink.astro'
import Theme from './Theme.astro'
---

<footer class="border-t border-t-border/60 mb-20">
  <div class="max-w-screen-lg mx-auto pt-7 px-4">
    <article
      class="grid grid-cols-2 *:flex *:flex-col *:gap-y-1 flex-1 mb-6 items-start"
    >
      <ul>
        <li><FooterLink href="/">Inicio</FooterLink></li>
        <li><FooterLink href="/rss.xml">Rss</FooterLink></li>
        <li><FooterLink href="/newsletter">Newsletter</FooterLink></li>
      </ul>
      <ul>
        <li>
          <FooterLink href="https://github.com/michelangelo-valderrama" external
            >Github</FooterLink
          >
        </li>
        <li>
          <FooterLink href="https://twitter.com/imangelo84" external
            >Twitter</FooterLink
          >
        </li>
        <li>
          <FooterLink href="https://www.npmjs.com/~imangelo" external
            >Npm</FooterLink
          >
        </li>
      </ul>
    </article>
    <div class="flex gap-x-2 items-center">
      <article class="flex-1">
        <p class="dark:text-foreground/80 text-sm">
          Creado con <a
            class="text-foreground underline"
            href="https://astro.build"
            rel="noopener noreferrer"
            target="_blank">Astro</a
          >, desplegado en <a
            class="text-foreground underline"
            href="https://vercel.com/home"
            rel="noopener noreferrer"
            target="_blank">Vercel</a
          >.
        </p>
      </article>
      <article><Theme /></article>
    </div>
  </div>
</footer>
