---
import FooterLink from "./FooterLink.astro"
import Theme from "./Theme.astro"
---

<footer class="border-t border-t-border/60 mb-20">
  <div class="max-w-screen-md mx-auto pt-7 px-4">
    <article
      class="grid grid-cols-2 w-full *:grid *:gap-y-1 flex-1 mb-6 items-start"
    >
      <article>
        <FooterLink href="/">Inicio</FooterLink>
        <FooterLink href="/rss.xml">Rss</FooterLink>
        <FooterLink href="/newsletter">Newsletter</FooterLink>
      </article>
      <article>
        <FooterLink href="https://github.com/michelangelo-valderrama" external
          >Github</FooterLink
        >
        <FooterLink href="https://twitter.com/VTokyo9" external
          >Twitter</FooterLink
        >
        <FooterLink
          href="https://open.spotify.com/user/d6a2ogn82kfbzu593p9d0gt6x"
          external>Spotify</FooterLink
        >
      </article>
    </article>
    <div class="flex gap-x-2 items-center">
      <article class="flex-1">
        <p class="dark:text-foreground/80 text-sm">
          Creado con <a
            class="text-foreground underline"
            href="https://astro.build"
            rel="noopener noreferrer"
            target="_blank">Astro</a
          >, desplegado en <a
            class="text-foreground underline"
            href="https://vercel.com/home"
            rel="noopener noreferrer"
            target="_blank">Vercel</a
          >.
        </p>
      </article>
      <article><Theme /></article>
    </div>
  </div>
</footer>
