---
import { cn } from "@/lib/utils"
---

<div
  class={cn(
    `
    prose dark:prose-invert max-w-none prose-zinc overflow-x-hidden sm:prose-lg
    prose-headings:tracking-tight prose-headings:text-foreground
    prose-lead:text-xl prose-lead:text-muted-foreground
    prose-a:underline-offset-4
  `,
    Astro.props.class
  )}
>
  <slot />
</div>
