---
import Footer from "@/components/Footer.astro"
import { Toaster } from "@/components/ui/toaster"
---

<main
  class:list={["max-w-screen-sm mx-auto px-4 min-h-svh", Astro.props.class]}
  transition:animate="fade"
>
  <slot />
  <div
    class="fixed bottom-0 left-0 w-full h-20 bg-gradient-to-t from-background to-transparent pointer-events-none select-none"
  >
  </div>
</main>
<Toaster client:load />
<Footer />
