---
import "@fontsource-variable/plus-jakarta-sans"
import "@/styles/globals.css"
---

<html
  lang="es"
  class="dark scrollbar-thin scrollbar-thumb-muted scrollbar-track-background"
>
  <head>
    <slot name="meta" />
  </head>
  <body
    class="min-h-svh bg-background text-foreground selection:bg-foreground selection:text-background antialiased"
  >
    <slot />
  </body>
</html>
