---
import "@/styles/globals.css"
import "@fontsource/geist-sans/400.css"
import "@fontsource/geist-sans/700.css"
import "@fontsource/geist-sans/900.css"
import "@fontsource/source-serif-pro/400.css"
import "@fontsource/source-serif-pro/600.css"
import "@fontsource/source-serif-pro/700.css"
import "@fontsource/source-serif-pro/900.css"
---

<html
  lang="es"
  class="dark scrollbar-thin scrollbar-thumb-muted scrollbar-track-background"
>
  <head>
    <meta name="theme-color" content="#09090b" />
    <slot name="meta" />
  </head>
  <body
    class="min-h-svh bg-background text-foreground selection:bg-foreground selection:text-background antialiased"
  >
    <slot />
  </body>
</html>
